.appNav img {
    width: 35px;
    height: 20px;
}

.appNav{
    grid-area: nav;
    margin-right: -.15em;
    margin-top: -.15em;
    background-color: #3d9970;
}

.item a {
    /*test color*/
    color: #cccccc;
    text-decoration: none;

}