.app-wrapper{
  display: grid;
  grid-template-areas:
  "header header"
  "nav content";

  grid-template-rows: 40px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

  margin: 0 auto;
  width: 1200px;
}

.app-header{
  grid-area: header;
  background-color: #3d9970;
  //margin-bottom: -.36em;
}

.app-header img {
  width:  20px;
  height: 20px;
}

.app-nav img {
  width: 35px;
  height: 20px;
}

.app-nav{
  grid-area: nav;
  margin-right: -.15em;
  margin-top: -.15em;
  background-color: #3d9970;
}

.app-content{
  grid-area: content;
  margin-left: -.15em;
  margin-top: -.15em;
  background-color: #7fdbff;
}

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 250ms linear;*/
/*  }*/
/*}*/

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/
a{
  /*test color*/
  color: #61dafb;
  text-decoration: none;
}





